<app-navbar></app-navbar>

<!-- Show content if user is authenticated -->
<div *ngIf="isAuthenticated; else loginForm">
  Welcome, you are authenticated.
  <!-- Show admin tools if the user is an admin -->
  <div *ngIf="userRole === 'super_admin'">
    <h1>Super Admin tools</h1>
    <h1>Group Admin tools</h1>
  </div>
  <!-- Show group admin tools if the user is a group admin -->
  <div *ngIf="userRole === 'group_admin'">
    <h1>Group Admin tools</h1>
  </div>
  <app-group *ngIf="isAuthenticated"></app-group>
  <router-outlet></router-outlet> <!-- this displays to anyone -->
</div>

<!-- Show login form if user is not authenticated -->
<ng-template #loginForm>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-header">
            Login
          </div>
          <div class="card-body">
            <form (submit)="onLogin()">
              <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" [(ngModel)]="username" class="form-control">
              </div>
              <div class="form-group mt-3">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" [(ngModel)]="password" class="form-control">
              </div>
              <div class="form-group mt-4">
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
